@use "./components";
@use "./components/home";
@use "./components/navbar";
@use "./components/features";
@use "./components/cards";

// Admin
@use "./admin/login";
@use "./admin/signup";
@use "./admin/admin";
@use "./admin/homeSection";

body {
  font-size: 16px;
  background: components.$bcg-clr;
  font-family: "Sora", sans-serif;
}
