@use "../components" as *;

.latest-articles-section {
  padding: 5rem 0;
}

.header-card {
  max-width: 550px;
  width: 100%;
  border-radius: $radius;
}

main {
  position: relative;

  .card-img {
    width: 100%;
    height: 325px;
    object-fit: cover;
    border-radius: $radius;
  }

  .infos-card {
    position: absolute;
    bottom: 1.5rem;
    left: 1rem;
    right: 1rem;
    z-index: 3;

    h3 {
      color: $white-clr;
      font-weight: 600;
      font-size: 1.5rem;
      letter-spacing: $spacing;
    }

    p,
    h6 {
      color: $p-clr;
      font-size: 0.9rem;
      font-weight: normal;
    }

    .p-bar {
      color: $white-clr;
      font-weight: 300;
    }

    .author-name {
      font-weight: 700;
    }
  }
}

// Second card
.vertical-card {
  border-radius: $radius;
  border: none;

  p,
  h6 {
    font-size: 0.9rem;
    color: $fourth-clr;

    .author {
      font-weight: 700;
    }
  }
}

.c-title {
  color: $main-clr;
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: $spacing;
}

.vertical-img {
  width: 100%;
  height: 325px;
  object-fit: cover;
  border-radius: $radius 0 0 $radius;
}
