@use "../components" as *;

.home {
  display: grid;
  align-content: center;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
  }

  .hero-container {
    background: url("/frontend/images/bcg-img.jpg") no-repeat center/cover;
  }

  .subtitle {
    text-transform: uppercase;
    font-size: 0.95rem;
    border-left: 3px solid #000;
    height: 2rem;
    padding-left: 0.5rem;
    display: flex;
    align-items: center;
  }

  .title {
    font-size: 3rem;
    font-weight: 700;
    text-transform: capitalize;

    .logo {
      text-transform: uppercase;
      color: $second-clr;
    }
  }
}
