@use "../components/" as *;

.logo-icon {
  width: 150px;
}

.links-container {
  li a {
    color: $white-clr;
  }
}

.user-icon {
  position: absolute;
  background: $white-clr;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;

  .user {
    width: 25px;
  }
}
