// Google Font
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@200;300;400;500;600;700&display=swap");

// Variables
$main-clr: #151443;
$second-clr: #ff594f;
$third-clr: #7968a9;
$fourth-clr: #616162;
$bcg-clr: #f8f8f8;
$white-clr: #fff;

// General Styling
