@use "../components/" as *;

.login-img {
  width: 45vw;
  height: 100%;
  object-fit: cover;
}

.section-container {
  .form {
    h1 {
      color: $main-clr;
      font-weight: 700;
      font-size: 2rem;
      margin: 2rem 0 3rem 0;
    }

    h4 {
      font-size: 1.3rem;
      margin-bottom: 0.5rem;
      color: $main-clr;
    }

    .p {
      margin-bottom: 2rem;
      font-size: 0.9rem;
      color: $third-clr;
    }

    .reset-link {
      color: $five-clr;
      font-size: 0.9rem;
      font-weight: 600;
    }

    .label-remember {
      font-size: 0.9rem;
      color: $third-clr;
      font-weight: 300;
    }
  }
}

.account-link {
  color: $third-clr;
  font-size: 0.85rem;
}

.login-link,
.signin-link {
  color: $five-clr;
  font-weight: 600;

  &:hover {
    text-decoration: underline;
    color: $five-clr;
  }
}
