@use "../components" as *;

.signup-img {
  width: 45vw;
  height: 100%;
  object-fit: cover;
}

.form-infos {
  max-width: 650px;
  width: 100%;
  padding: 2rem 0;

  .black-logo {
    width: 150px;
  }

  .close-btn {
    font-size: 35px;
  }

  form {
    width: 500px;

    margin-top: 1rem;

    h1 {
      font-size: 2rem;
      color: $main-clr;
      font-weight: 600;
    }

    label {
      font-weight: 600;
      margin-bottom: 1rem;
      color: $main-clr;
    }

    .input-name {
      width: 240px;
    }

    input {
      outline: none;
    }

    select,
    input {
      border-radius: 5px;
      background: $input-bcg;
      border: none;
      padding: 0.5rem 1rem;
      font-size: 0.9rem;
      font-weight: 300;
      color: $third-clr;
      outline: none;
    }

    .input,
    .select {
      height: 40px;
    }
  }
}

.login-btn,
.signup-btn {
  background: $logo-clr;
  color: $white-clr;
  width: 100%;
  padding: 0.65rem 0;
  margin-top: 1.5rem;
  border-radius: 5px;
}

.error-msg {
  font-size: 0.8rem;
  margin-top: 0.4rem;
  color: #ff3333;
}

.shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97);
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
