@use "../components" as *;

.signup-img {
  width: 50vw;
  height: 115vh;
  object-fit: cover;
}

.form-infos {
  max-width: 600px;
  width: 100%;

  .black-logo {
    width: 150px;
  }

  .close-btn {
    font-size: 35px;
  }

  form {
    width: 500px;

    margin-top: 1rem;

    h1 {
      font-size: 2rem;
      color: $main-clr;
      font-weight: 600;
    }

    label {
      font-weight: 600;
      margin-bottom: 1rem;
      color: $main-clr;
    }

    .input-name {
      width: 240px;
    }

    input {
      outline: none;
    }

    select,
    input {
      border-radius: 5px;
      background: $input-bcg;
      border: none;
      padding: 0.5rem 1rem;
      font-size: 0.9rem;
      font-weight: 300;
      color: $third-clr;
      outline: none;
    }

    .input,
    .select {
      height: 40px;
    }
  }
}

.login-btn,
.signup-btn {
  background: $logo-clr;
  color: $white-clr;
  width: 100%;
  padding: 0.65rem 0;
  margin-top: 1.5rem;
  border-radius: 5px;
}

.error-msg {
  font-size: 0.8rem;
  margin-top: 0.4rem;
  color: #ff3333;
}
